[submodule "dpdk"]
	path = dpdk
	url = git://dpdk.org/dpdk-stable
[submodule "libs/luajit"]
	path = libs/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "libs/papi"]
	path = libs/papi
	url = https://bitbucket.org/icl/papi.git
[submodule "pktgen-dpdk"]
	path = pktgen-dpdk
	url = git://dpdk.org/apps/pktgen-dpdk
